#Without Docker
BACKEND_SERVER=http://localhost:5000
ML_SERVICE=http://localhsot:8000
REDIS_URL=http://localhost:6379
DATABASE_URL="postgresql://postgres:pass@localhsot:5432/gateway"
JWT_SECRET="SECRET"
JWT_REFRESH_SECRET="SECRET"

#For Docker
BACKEND_SERVER=http://backend:5000
ML_SERVICE=http://ml-service:8000
REDIS_URL=redis://redis:6379
DATABASE_URL="postgresql://postgres:pass@database:5432/gateway"
JWT_SECRET="SECRET"
JWT_REFRESH_SECRET="SECRET"